body {
    background: #E9EBEE;
    margin: 0;
    font-family: Tahoma, serif;
}

header {
    height: 50px;
    background: #3B5998;
    position: fixed;
    clear: both;
    top: 0;
    left: 0;
    right: 0;
}

#logo {
    width: 30px;
    height: 30px;
    display: inline;
    border-radius: 3px;
    position: absolute;
    left: 140px;
    top: 8px;
    float: left;
}


/*----------search bar---------*/

#search {
    position: absolute;
    display: inline-block;
    width: 350px;
    height: 30px;
    top: 8px;
    left: 175px;
    border: none;
    border-radius: 5px;
    border: #ad2427;
    background: white;
}

#search-box {
    position: absolute;
    height: 30px;
    width: 300px;
    border: none;
    float: left;
    padding: 0 0 0 5px;
    margin: 0;
    border-radius: 5px;
}

#search-button {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 300px;
    float: left;
    border: none;
    border-radius: 5px;
    margin: 0;
}


/*---------notification------------*/


#notification {
    position: absolute;
    width: 400px;
    height: 30px;
    left: 750px;
    top: 8px;
}

.avatar {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#notification button {
    position: absolute;
    background: #3B5998;
    width: 80px;
    height: 30px;
    border: none;
    color: white;
    left: 40px;
}

#icon {
    position: absolute;
    left: 130px;
}


.material-symbols-outlined {
    width: auto;
    height: auto;
    margin: 3px 10px 3px 10px;
    font-variation-settings: 'FILL' 1, 'wght' 600;
}


/*----------left side ------------*/
#left-side {
    width: 20%;
    height: 100%;
    position: fixed;
    left: 10%;
    top: 10%;
}

#your-profile {
    position: absolute;
    width: 100%;
    height: 30px;

}

#left-side span {
    margin: 0;
    position: absolute;
    left: 35px;
    padding: 6px;
}

#suggested {
    position: absolute;
    top: 50px;
}

.left-side-icon {
    width: 180px;
}


#shortcuts {
    position: relative;
    top: 360px;
}


#shortcuts div {
    width: 180px;
    height: 30px;
    display: block;
    padding: 5px;
}



section {
    width: 40%;
    height: auto;
    background: #3e8e41;
    float: left;
    margin-top: 60px;
    margin-left: 30%;
}

#right-side {
    height: 100%;
    width: 30%;
    position: fixed;
    right: 0;
    top: 10%;
    float: right;
    background: #ad2427;

}
