body{
    margin: 0;
    background: darkgray;
    text-align: center;
}

header img{
    width: 150px;
    margin: 5px 0 5px 10px;

}

header,nav,footer{
    border-radius: 5px;
    background: gray;
    box-shadow: #333131 5px 5px;
    margin: 10px 0;
}

header{
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
}

nav{
    margin-top: 87px;
}



nav a{
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

nav a:hover{
    color: #3B5998;
    background: #C0C0C0;
}

.border{
    border-right: #C0C0C0 1px solid;
}

#page{
    margin: 20px;
}

#right-content,#left-content{
    margin: 10px;
    background: gray;
    box-shadow: #333131 5px 5px;
    border-radius: 5px;
}

#left-content iframe,#right-content iframe{
    width: 80%;
    margin: 10px 10%;
    box-shadow: #333131 5px 5px;
}

#left-content h4{
    padding: 10px 0 20px 0;
}

#left-content hr{
    width: 80%;
}

#right-content p{
    text-align: justify;
    text-indent: 10px;
    padding: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width:740px ){
    .col-s-1 {width: 8.33333%;}
    .col-s-2 {width: 16.66666%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.333333%;}
    .col-s-5 {width: 41.666666%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.333333%;}
    .col-s-8 {width: 66.666666%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.333333%;}
    .col-s-11 {width: 91.666666%;}
    .col-s-12 {width: 100%;}

    p{
        font-size: 35px;
    }

    h4{
        font-size: 40px;
    }

    #left-content iframe{
        width: 60%;
        margin: 10px 20%;
    }

}

@media only screen and (min-width:741px)and (max-width:1240px){
    .col-m-1 {width: 8.33333%;}
    .col-m-2 {width: 16.66666%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.333333%;}
    .col-m-5 {width: 41.666666%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.333333%;}
    .col-m-8 {width: 66.666666%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.333333%;}
    .col-m-11 {width: 91.666666%;}
    .col-m-12 {width: 100%;}

    #left-content iframe{
        width: 100%;
        margin: 0;
    }

    #left-content{
       margin: 0;
    }
}

@media only screen and (min-width:1241px){
    .col-l-1 {width: 8.33333%;}
    .col-l-2 {width: 16.66666%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.333333%;}
    .col-l-5 {width: 41.666666%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.333333%;}
    .col-l-8 {width: 66.666666%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.333333%;}
    .col-l-11 {width: 91.666666%;}
    .col-l-12 {width: 100%;}
}